<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>

    <!-- Facebook Send to Messenger standard code to include in the head of the page -->
    <script lang="Javascript">
        window.fbAsyncInit = function () {
            FB.init({
                appId: "APP_ID",
                xfbml: true,
                version: "v2.6"
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>

<body class="container">

    <header>
        <h1>Facebook Opt-in Page</h1>
    </header>

    <main>
        <p>
            You will need to add the Facebook "Send to Messenger" web plugin to your website to get permission to send the user messages
            via Facebook. This would usually be on your check out page etc...
        </p>

        <hr>

        <p>
            Click below to recieve updates via Facebook Messenger
        </p>

        <!-- The data-ref field will be populated with the metadata returned from Comapi's Facebook webservice', add your own Facebook page_id -->
        <div 
            class="fb-send-to-messenger" 
            messenger_app_id="336037380081042" 
            page_id="YOUR FACEBOOK PAGE_ID" 
            data-ref="<%= metadata %>"
            color="blue" size="large">
        </div>

        <hr>
        <p>
            When it is clicked a unique Facebook Messenger Id will be created for the customer and your page and automatically sent to
            Comapi where a <b>fbMessengerId</b> field will be added to the profile you indicated using the <b>data-ref</b>            field on the Send to Messenger control
        </p>
    </main>

</body>

</html>